@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Delius', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mobile-menu-fixed {
  height: calc(100vh - 90px);
}

.review__text::before {
  content: open-quote;
}

.review__text::after {
  content: close-quote;
}